<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/admin-layout">

<th:block layout:fragment="layout-content">
    <form id="form1">
        <input type="hidden" name="seq" th:value="${el.seq}">

        <div class="admin-main">
            <div class="top-tit-box">
                <h2 class="s-tit">Add IP</h2>
            </div>
            <div class="content">
                <div class="flexwrap add-top">
                    <h3>Information</h3>
                </div>
                <div>
                    <table class="add-table">
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: auto;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>IP</th>
                                <td>
                                    <input type="text" class="ip-info" name="ip" th:value="${el.ip}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="add-btn-box">
                    <button type="button" class="btn add-rd mr10">Cancel</button>
                    <button type="button" class="btn add-be" onclick="saveIp()">Save</button>
                </div>
            </div>
        </div>
    </form>
    <script>
        /* 0. variable */
        let page = 0;
        let search = '';
        let isLast = true;

        /* 1. on load */
        $(function(){
            init();

            /* 2. event listener*/
            $(document).on("click",".togglePublic",function(e){
                e.preventDefault();
                togglePublic($(this).val());
            })
        })

        /* 3.init*/
        function init(){

        }

        /* 4. function */
        function saveIp(){
            $.post('/api/admin/saveIp', $("#form1").serialize(), function(res){
               ut.redirect("/admin/ip-block");
            });
        }
    </script>
</th:block>