<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">

<th:block layout:fragment="layout-content">
    <div class="wrap2">
        <div class="header">
            <div class="hd-in">
                <a href="/" class="home"></a>
                <span class="title"> [[${nationName}]] friends, gather up!</span>
                <a href="/mypage/alarm" class="mypage"><span class="new-R"></span></a>
            </div>
        </div>
        <div class="board-wrap clearfix" id="boardList">
            <div class="board-list" th:each="el : ${list}">
                <div class="list-in clearfix">
                    <div class="list-t">
                        <div class=" clearfix"><!--el.seq리스트를 가져온거.-->
                            <a th:href="'/board/view?seq='+${el.seq}" class="ellipsis " th:text="${el.subject}"></a>
                        </div>
                        <div class="list-f">
                            <span class="name" th:text="${el.user.nickname}">name</span>
                            <span class="time" th:text="${el.createdAt}">14:23</span>
                            <span class="view" th:text="${el.views}">121,103</span>

                        </div>
                    </div>

                    <div class="cmt">
                        <span>1</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="foot-in">
                <a href="/search" class="search">Search</a>
                <a href="/board/openWrite" class="writing">Writing</a>
                <a href="" class="invite">Invite</a>
            </div>
        </div>
    </div>

    <script>

        var isLast = false;

        $(function(){
            var page = 0; //0페이지부터

            //스크롤 할때 이벤트 감지 게시글을 ajax통해
            $(window).scroll(function() {
                if (isLast) {
                    return;
                }
                //만약 스크롤 끝까지 내렸으면
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    page++;
                    $.post('/api/getPage',{page:page},function(Response) {
                        isLast = Response.data.last;
                        $('#resultCount').text(Response.data.totalElements);
                        console.log(Response);
                        var data = Response.data.content;// console에 data에 찍힌content
                        var html = "";
                        //데이터 수만큼 반복문 돌리는거 그 이름을 el로 받음.
                       // if (returnData.startNum<=returnData.totCnt){
                            if(data.length>0){
                                //loading(1);
                                console.log(data);
                                for (var el of data) {
                                    html+='<div class="board-list">'
                                    html+='<div class="list-in clearfix">'
                                    html+='<div class="list-t">'
                                    html+='<div class=" clearfix">'//el.seq리스트를 가져온거
                                    html+='<a href="/board/view?seq='+el.seq+'"class="ellipsis ">'+el.subject+'</a>'
                                    html+='</div>'
                                    html+='<div class="list-f">'
                                    html+=' <span class="name">'+el.user.nickname+'</span>'
                                    html+=' <span class="time">'+el.createdAt+'</span>'
                                    html+=' <span class="view">'+el.views+'</span>'
                                    html+='</div>'
                                    html+='</div>'
                                    html+='<div class="cmt">'
                                    html+='<span>1</span>'
                                    html+='</div>'
                                    html+='</div>'
                                    html+='</div>'
                                }

                                $("#boardList").append(html);

                            }else{
                                //데이터가 없을경우
                            }
                    });
                };
            });
        });
    </script>

</th:block>
