<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">

<th:block layout:fragment="layout-content">
    <div class="wrap2">
        <div class="header">
            <div class="hd-in">
                <a href="javascript:history.back()" class="back back-btn"></a>
                <span class="title">Vietnamese friends, gather up!</span>
                <a href="" class="mypage"></a>
            </div>
        </div>
        <div class="board-wrap clearfix">
           <div class="view-in">
               <div class="view-top">
                    <h3 th:text="${view.subject}" id="subject" ></h3>
                    <div class="view-top-in">
                        <div class="top-left">
                            <div class="my-img" style="background-image: url(../assets/img/img2.png);"></div>
                            <div class="left-in">
                                <p class="view-name" th:text="${view.user.nickname}"></p>
                                <div class="view-info">
                                    <span class="time-v" th:text="${view.createdAt}"></span>
                                    <span class="view-v" th:text="${view.views}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="top-right">
                            <div class="cmt">
                                <span>999</span>
                            </div>
                            <div class="comment-btn-box">
                                <th:block th:if="${view.user.seq == session.loginVO.seq}"><!--글수정 삭제버튼-->
                                    <button type="button" class="modify-btn" id="modify" th:value="${view.seq}" ></button>
                                    <button type="button" class="del-btn" onclick="modal.open('#deleteModal');"></button>
                                </th:block>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="view-md">
                    <th:block th:utext="${view.content}"></th:block>
               </div>
               <div class="view-comment">
                    <div class="total"><span class="total-font">Comments</span><span class="com-total"></span></div>
                   <form id="form">
                    <div class="comment-box">
                        <input type="text" placeholder="comment" name="content" ><button type="button" class="com-btn"  onclick="reply()">submit</button>
                        <input type="hidden" name="boardSeq" th:value="${view.seq}">
                    </div>
                   </form>
                    <div class="comment-view">
                        <div class="comment-mo" th:each="comment : ${comment}">
                            <div class="cmt-out">
                                <div class="comment-img" style="background-image: url(../assets/img/space.png);"></div>
                                <div class="comment-in">
                                    <div class="flexwrap">
                                        <div class="com-in-t" th:text="${comment.user.nickname}">name</div>

                                        <div class="comment-btn-box">
                                            <th:block th:if="${view.user.seq == session.loginVO.seq}"> <!--댓글작성자만 볼 수 있게!-->
                                                <button type="button" class="modify-btn" ></button>
                                            <button type="button" class="del-btn" th:onclick="|javascript:commentRemove('${comment.seq}')|"></button>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="com-con" th:value="${comment.seq}" th:text="${comment.content}"></div> <!--댓글 시퀀스,내용-->
                                    <div class="list-f">
                                        <span class="time"></span>
                                    </div>

                                    <div class="comment-box cmt-modify">
                                        <input type="text" name="comment" id="textContent" placeholder="comment" >
                                        <button class="mod-close"></button><button type="button" class="com-btn" >submit</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        <div class="modal-wrap" id="deleteModal">
            <div class="modal-body">
                <button class="mod-close" onclick="modal.close('#deleteModal');"></button>
                <p>Do you really want to remove this post?</p>
                <div class="btnbox clearfix">
                    <button type="button" class="cancelbtn" onclick="modal.close('#deleteModal');">Cancel</button>
                    <button type="button" class="delbtn">Delete</button>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="foot-in">
                <a href="" class="back-f back-btn">Back</a>
                <a href="" class="like">Like</a>
                <a href="" class="share">Share</a>
            </div>
        </div>
    </div>
    <script>
        $('.foot-in a.like').click(function(e){
            e.preventDefault();
            $('.like').toggleClass('on');
        });
        $('.cmt-btn').click(function(){
            $(this).parent().parent().children('.cmt-modify').toggleClass('on');
            $('.cmt-modify input').focus();
        })
        $(document).on('click','.view-comment .del-btn', function () {
            $(this).parent().parent().parent().parent().remove();
        });
        $('.mod-close').click(function(){
            $(this).parent().removeClass('on');
        });
        $('.view-comment .modify-btn').on('click', function(){
            var reply = $(this).parent().parent().parent().children('.com-con');
            var replyT = reply.text();
            var replySeq = reply.attr('value'); /* th value 시퀀스값*/
            console.log(replySeq);
            if(reply.css('display') == 'none'){
                reply.css('display', 'flex');
                reply.next('.re-modify').remove();
            }else{
                reply.css('display', 'none');                                                                                                                                               /*불러온값.*/
                reply.after('<div class="com-t re-modify"><textarea name="" id="a" cols="30" rows="10">'+ replyT+'</textarea><button type="button" class="btn-grey" onclick="modifyCommet(this,'+replySeq+')" >modify</button></div>');
            }
        });
        $(document).on('click', '.re-modify button', function(){
            var modiT = $(this).siblings('textarea').val();
            var reply = $(this).parent('.re-modify').prev('.com-con');
            reply.css('display', 'flex');
            reply.text(modiT);
            $(this).parent('.re-modify').remove();
        });
    </script>
    <script>
        console.log()
        /* 0. variable */

        // /* 1. on load */

        function commentRemove(replySeq){/*삭제*/
            $.post('/api/setCommentRemove' , {seq:replySeq},function (Response) {
                location.href="/board/view?seq="+boardSeq;
            });

        }
        function modifyCommet(event,replySeq){/*this랑 시퀀스넘어옴 (댓글수정)*/
            console.log(replySeq);
            let boardSeq = $('#modify').val();
            let content= $(event).prev().val();/*textarea댓글내용*/
            $.post('/api/setCommentWrite' , {content,seq:replySeq,boardSeq:boardSeq},function (Response) {
                location.href="/board/view?seq="+boardSeq;
            });
        llll

        function reply() {/*댓글등록*/
            let formData = $("#form").serialize();
            let seq = $('#modify').val();
            console.log(formData);
            $.post('/api/setCommentWrite', formData, function (Response) {
                location.href="/board/view?seq="+seq;
            });
        };

        $(function(){
            /* 2.init*/
          $("#modify").click(function() {
                let seq = $('#modify').val();
                location.href = "/board/openWrite?seq="+seq;
                /* 3. event listener*/

            });

         });


    </script>

</th:block>