<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">

<th:block layout:fragment="layout-content">
    <div class="wrap2">
        <div class="header">
            <div class="hd-in">
                <a href="javascript: void(0);" class="back back-btn"></a>
                <a href="/board/list"><span class="title"> [[${nationName}]] friends, gather up!</span></a>
                <a href="/mypage/alarm" class="mypage"></a>
            </div>
        </div>
        <div class="board-wrap clearfix">
           <div class="view-in">
               <div class="view-top clearfix">
                    <h3 th:text="${view.subject}" id="subject" ></h3>
                    <div class="view-top-in">
                        <div class="top-left">
                            <div class="my-img" th:unless="${#strings.isEmpty(view.user.image)}" th:style="|background-image: url(/api/comFileDownload/${view.user.image}.do);|"></div>
                            <div class="my-img" th:if="${#strings.isEmpty(view.user.image)}" style="background-image: url(../assets/img/img2.png);"></div>
                            <div class="left-in">
                                <p class="view-name" th:text="${view.user.nickname}" th:classappend="${#strings.isEmpty(view.user.id) ? '' : 'color-blue'}"></p>
                                <div class="view-info">
                                    <span class="time-v" th:with="tmp='\'T\''" th:text="${#temporals.format(view.createdAt, 'yyyy-MM-dd &nbsp'+tmp+'HH:mm:ss')}">14:23</span>
                                    <span class="view-v" th:text="${view.views}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="top-right">
                            <div class="cmt">
                                <span id="likeCount" th:text="${likeCount}"></span>
                            </div>
                            <div clsss="mr10 notice-box" th:if="${session.loginVO.admin}">
                                <input type="checkbox" id="notice" th:checked="${view.notice}"><label for="notice">notice</label>
                            </div>
                            <div class="comment-btn-box">
                                <th:block th:if="${view.user.seq == session.loginVO.seq or session.loginVO.admin}">
                                    <button type="button" class="modify-btn" id="modify" th:value="${view.seq}" th:onclick="|ut.redirect('/board/openWrite','seq',${view.seq})|"></button>
                                    <button type="button" class="del-btn"  onclick="modal.open('#deleteModal');"></button>
                                </th:block>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="view-md">
                    <th:block th:utext="${view.content}"></th:block>
               </div>
               <div class="view-comment">
                    <div class="total"><span class="total-font">Comments</span><span class="com-total"></span></div>
                   <form id="form">
                    <div class="comment-box">
                        <input type="checkbox" id="secret" name="isSecret" value="true"><label for="secret">secret</label>
                        <input type="text" placeholder="comment" name="content" ><button type="button" class="com-btn"  onclick="reply()">submit</button>
                        <input type="hidden" name="boardSeq" id="boardSeq" th:value="${view.seq}"><!-- 스크립트에서 사용.-->
                    </div>
                   </form>
                   <input type="hidden"  id ="userSeq"th:value="${session.loginVO.seq}"> <!--세션에있는 값 가져옴.-->
                    <div class="comment-view" id="boardView">
                        <div class="comment-mo" th:each="comment : ${comment}">
                            <div class="cmt-out">
                                <div class="comment-img" th:unless="${#strings.isEmpty(comment.user.image)}" th:style="|background-image: url(/api/comFileDownload/${comment.user.image}.do)|"></div>
                                <div class="comment-img" th:if="${#strings.isEmpty(comment.user.image)}"></div>
                                <div class="comment-in">
                                    <div class="flexwrap">
                                        <div class="com-in-t" th:text="${comment.user.nickname}" th:classappend="${#strings.isEmpty(comment.user.id) ? '' : 'color-blue'}"></div>

                                        <div class="comment-btn-box">
                                            <th:block th:if="${comment.user.seq == session.loginVO.seq}"> <!--댓글작성자만 볼 수 있게!-->
                                                <button type="button" class="modify-btn" th:value="${comment.seq}"></button>
                                                <button type="button" class="del-btn" th:value="${comment.seq}"></button>
                                           </th:block>
                                        </div>
                                    </div>
                                    <div class="com-con" th:classappend="${comment.secret ? 'com-secret' : ''}" th:text="${(comment.secret and !(view.user.seq == session.loginVO.seq or comment.user.seq == session.loginVO.seq or session.loginVO.admin)) ? 'This is a secret comment.' : comment.content}"></div> <!--댓글 시퀀스,내용-->
                                    <div class="list-f">
                                        <span th:with="tmp='\'T\''" class="time" th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd &nbsp'+tmp+'HH:mm:ss')}">14:23</span>
                                        <button class="cmt-btn">reply</button>
                                    </div>
                                    <div class="comment-box cmt-modify">
                                        <input type="text" placeholder="comment" class="rereplyText"><button class="mod-close"></button><button type="button" class="com-btn" th:onclick="|rereply('${comment.seq}',this)|">submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="cmt-out-re" th:each="child : ${comment.children}">
                                <div class="comment-img" th:unless="${#strings.isEmpty(child.user.image)}" th:style="|background-image: url(/api/comFileDownload/${child.user.image}.do)|"></div>
                                <div class="comment-img" th:if="${#strings.isEmpty(child.user.image)}"></div>
                                <div class="comment-in">
                                    <div class="flexwrap">
                                        <div class="com-in-t" th:text="${child.user.nickname}" th:classappend="${#strings.isEmpty(child.user.id) ? '' : 'color-blue'}"></div>

                                        <div class="comment-btn-box">
                                            <th:block th:if="${child.user.seq == session.loginVO.seq}"> <!--댓글작성자만 볼 수 있게!-->
                                                <button type="button" class="modify-btn" th:value="${child.seq}"></button>
                                                <button type="button" class="del-btn" th:value="${child.seq}"></button>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="com-con" th:text="${child.content}"></div> <!--댓글 시퀀스,내용-->
                                    <div class="list-f">
                                        <span th:with="tmp='\'T\''" class="time" th:text="${#temporals.format(child.createdAt, 'yyyy-MM-dd &nbsp'+tmp+'HH:mm:ss')}">14:23</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        <div class="modal-wrap" id="deleteModal"th:value="${view.nation}"  ><!--글삭제시 nation값-->
            <div class="modal-body">
                <button class="mod-close" onclick="modal.close('#deleteModal');"></button>
                <p>Do you really want to remove this post?</p>
                <div class="btnbox clearfix">
                    <button type="button" class="cancelbtn" onclick="modal.close('#deleteModal');">Cancel</button>
                    <button type="button" class="delbtn">Delete</button>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="foot-in">
                <a href="/board/list" class="back-f back-btn">Back</a>
                <a href="javascript:void(0)" class="like" id="likeBtn" th:classappend="${isMyLike ? 'on' : ''}">Like</a>
                <a href="javascript:copy()" class="share">Share</a>
            </div>
        </div>
    </div>
    <script>
        /*조회수증가 뒤로가기했을때도 적용되겠금*/
        $('.back-btn').click(function(e){
            // e.preventDefault();
            history.back();
        });

        /*좋아요 임시하트 기능*/

        $('.foot-in a.like').click(function(e){
            let boardSeq = $('input[name=boardSeq]').val();
            e.preventDefault();
            $.post('/api/setBoardLike' , {seq:boardSeq},function (Response) {

                /*화면에 있는 숫자를 바꾸는거*/
                var likeCount = Number($('#likeCount').text());
                if ($('#likeBtn').hasClass('on')) {/*현재 하트가 있는 상태*/
                    likeCount--;
                } else {
                    likeCount++;
                }
                $('#likeCount').text(likeCount);/*set해줌*/

                $('.like').toggleClass('on');

            });
        });

        $('.cmt-btn').click(function(){
            $(this).parent().parent().children('.cmt-modify').toggleClass('on');
            $('.cmt-modify input').focus();
        })
        $('.mod-close').click(function(){
            $(this).parent().removeClass('on');
        });
        /*수정*/
        $('.view-comment .modify-btn').on('click', function(){/*버튼 자체에 value값 세팅해줌 =*/
            var reply = $(this).parent().parent().parent().children('.com-con');
            var replyT = reply.text();
            var replySeq = $(this).val(); /* th value 시퀀스값*/
            /*수정 버튼 눌렀을 때*/
            if(reply.css('display') == 'none'){
                reply.css('display', 'flex');
                reply.next('.re-modify').remove();
            }else{
                reply.css('display', 'none');                                                                                                                                               /*불러온값.*/
                reply.after('<div class="com-t re-modify"><textarea name="" id="a" cols="30" rows="10">'+ replyT+'</textarea><button type="button" class="btn-grey" onclick="modifyCommet(this,'+replySeq+')" >modify</button></div>');
            }
        });
        $(document).on('click', '.re-modify button', function(){
            var modiT = $(this).siblings('textarea').val();
            var reply = $(this).parent('.re-modify').prev('.com-con');
            reply.css('display', 'flex');
            reply.text(modiT);
            $(this).parent('.re-modify').remove();
        });
    </script>
    <script>
        /* 0. variable */
        /*<![CDATA[*/
        var isAdmin = /*[[${session.loginVO.admin}]]*/ false;
        var boardUserSeq = /*[[${view.user.seq}]]*/ '';
        var myUserSeq = /*[[${session.loginVO.seq}]]*/ '';
        /*]]>*/

        // /* 1. on load */
         /*글삭제*/
        $(document).on('click','.delbtn',function (){
            let boardSeq = $('input[name=boardSeq]').val();
            let boardNation =$('#deleteModal').val();
            $.post('/api/setRemoveBoard' , {seq:boardSeq},function (Response) {
                location.href="/board/list?nation="+boardNation;
            });
        });

        /*댓글삭제*/
        $(document).on('click','.view-comment .del-btn', function() {  /*'.view-comment*/
            var replySeq = $(this).val();/* 해당댓글 선택*/
            modal.confirm("delete?",'ok',function(){
                $.post('/api/setRemoveComent' , {seq:replySeq},function (Response) {
                    location.reload();
                });
            });
        });

        //댓글수정
        function modifyCommet(event,replySeq){/*this랑 시퀀스넘어옴 (댓글수정)*/
            let boardSeq = $('input[name=boardSeq]').val();
            let content= $(event).prev().val();/*textarea댓글내용*/
            $.post('/api/setCommentWrite' , {content,seq:replySeq,boardSeq:boardSeq},function (Response) {
                location.href="/board/view?seq="+boardSeq;
            });
        };

        //댓글등록
        function reply() {
            let formData = $("#form").serialize();
            $.post('/api/setCommentWrite', formData, function (Response) {
                location.reload();
            });
        };

        $(function() {
            /* 2.init*/
            $("input[name=boardSeq]").click(function () {
                let seq = $('input[name=boardSeq]').val();
                location.href = "/board/openWrite?seq=" + seq;
                /* 3. event listener*/
            });

            $("#notice").on('click',function(){
                $.post('/api/setNoticeBoard',{seq: $('input[name=boardSeq]').val()},function(res){
                    location.reload();
                })
            });

            var isLast = false;
            var page = 0; //0페이지부터

            $(window).scroll(function () {
                if (isLast) {
                    return;
                }
                let seq = $('input[name=boardSeq]').val(); //어느 글인지 알기 위해서
                //만약 스크롤 끝까지 내렸으면
                if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
                    page++;
                    console.log('다음페이지!! pageNumber: ', page);
                    $.post('/api/getCommentPage', {page: page, seq: seq}, function (Response) {
                        console.log('response',Response);
                        isLast = Response.data.last;
                        var data = Response.data.content;// console에 data에 찍힌content //전체데이터담겨있음
                        var html = "";
                        if (ut.isEmpty(data)) return;

                        for (var el of data) {
                            if(el.secret && !isAdmin && myUserSeq != el.user.seq) continue;
                            html += `
                            <div class="comment-mo">
                                <div class="cmt-out">
                                    <div class="comment-img" style="${ut.isEmpty(el.user.image) ? '' : 'background-image: url(/api/comFileDownload/'+el.user.image+'.do)'}"></div>
                                    <div class="comment-in">
                                        <div class="flexwrap">
                                            <div class="com-in-t ${el.user.id ? 'color-blue' : ''}">${el.user.nickname}</div>

                                            <div class="comment-btn-box">`;
                            if(isAdmin || el.user.seq == myUserSeq) {
                                html += `
                                                <button type="button" class="modify-btn" value="${el.seq}"></button>
                                                <button type="button" class="del-btn" value="${el.seq}"></button>`;
                            }
                            html += `
                                            </div>
                                        </div>
                                        <div class="com-con">${el.content}</div>
                                        <div class="list-f">
                                            <span class="time">${new Date(el.createdAt).format('yyyy-MM-dd &nbsp;THH:mm:ss')}</span>
                                        </div>
                                    </div>
                                </div>`;

                            //대댓글
                            if(ut.isEmpty(el.children)) continue;

                            el.children.forEach(function(el2){
                                html += `
                                <div class="cmt-out-re">
                                    <div class="comment-img" style="${ut.isEmpty(el2.user.image) ? '' : 'background-image: url(/api/comFileDownload/'+el2.user.image+'.do)'}"></div>
                                    <div class="child-in">
                                        <div class="flexwrap">
                                            <div class="com-in-t ${el2.user.id ? 'color-blue' : ''}">${el2.user.nickname}</div>

                                            <div class="comment-btn-box">`;
                                if(isAdmin || el2.user.seq == myUserSeq) {
                                    html += `
                                                <button type="button" class="modify-btn" value="${el2.seq}"></button>
                                                <button type="button" class="del-btn" value="${el2.seq}"></button>`;
                                }
                                html += `
                                            </div>
                                        </div>
                                        <div class="com-con">${el2.content}</div>
                                        <div class="list-f">
                                            <span class="time">${new Date(el2.createdAt).format('yyyy-MM-dd &nbsp;THH:mm:ss')}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                            })
                        }

                        $("#boardView").append(html);
                    });
                }
            });
        });

        function rereply(upperSeq, obj){
            let value = $(obj).siblings('.rereplyText').val();
            let formData = {
                boardSeq: $("#boardSeq").val(),
                upperSeq: upperSeq,
                content: value
            }
            $.post('/api/setCommentWrite', formData, function (Response) {
                location.reload();
            });
        }
    </script>

</th:block>