<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOR FOREIGN WORKERS!</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="../assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/common.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrap2">
        <div class="header">
            <div class="hd-in">
                <a href="" class="back back-btn"></a>
                <span class="title">Vietnamese friends, gather up!</span>
                <a href="" class="mypage"><span class="new-R"></span></a>
            </div>
        </div>
        <div class="board-wrap clearfix">
           <div class="view-in">
               <div class="view-top">
                    <h3>Hello, nice to meet you.</h3>
                    <div class="view-top-in">
                        <div class="top-left">
                            <div class="my-img" style="background-image: url(../assets/img/img2.png);"></div>
                            <div class="left-in">
                                <p class="view-name">name</p>
                                <div class="view-info">
                                    <span class="time-v">14:23</span>
                                    <span class="view-v">121</span>
                                </div>
                            </div>
                        </div>
                        <div class="top-right">
                            <div class="cmt">
                                <span>999</span>
                            </div>
                            <div class="comment-btn-box">
                                <button type="button" class="modify-btn"></button>
                                <button type="button" class="del-btn" onclick="modalopen();"></button>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="view-md">
                    <img src="../assets/img/snowmen.jpg" alt="" style="width: 100%;">
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem doloribus numquam nisi deleniti. Vel eius laborum eveniet incidunt! Necessitatibus culpa veniam inventore cum iusto beatae pariatur. Qui, quo asperiores.</p>
                    </div>
               </div>
               <div class="view-comment">
                    <div class="total"><span class="total-font">Comments</span><span class="com-total">2,100</span></div>
                    <div class="comment-box">
                        <input type="text" placeholder="comment"><button type="button" class="com-btn">submit</button>
                    </div>
                    <div class="comment-view">
                        <div class="comment-mo">
                            <div class="cmt-out">
                                <div class="comment-img" style="background-image: url(../assets/img/space.png);"></div>
                                <div class="comment-in">
                                    <div class="flexwrap">
                                        <div class="com-in-t">name</div>
                                        <div class="comment-btn-box">
                                            <button type="button" class="modify-btn"></button>
                                            <button type="button" class="del-btn"></button>
                                        </div>
                                    </div>
                                    <div class="com-con">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                    <div class="list-f">
                                        <span class="time">14:23</span>
                                        <button class="cmt-btn">comment</button>
                                    </div>
                                    <div class="comment-box cmt-modify">
                                        <input type="text" placeholder="comment"><button class="mod-close"></button><button type="button" class="com-btn">submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="cmt-out-re">
                                <div class="comment-img" style="background-image: url(../assets/img/snowmen.jpg);"></div>
                                <div class="comment-in">
                                    <div class="flexwrap">
                                        <div class="com-in-t">name</div>
                                        <div class="comment-btn-box">
                                            <button type="button" class="modify-btn"></button>
                                            <button type="button" class="del-btn"></button>
                                        </div>
                                    </div>
                                    <div class="com-con">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                    <div class="list-f">
                                        <span class="time">14:23</span>
                                    </div>
                                    <div class="comment-box cmt-modify">
                                        <input type="text" placeholder="comment"><button class="mod-close"></button><button type="button" class="com-btn">submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-mo">
                            <div class="cmt-out">
                                <div class="comment-img" style="background-image: url(../assets/img/space.png);"></div>
                                <div class="comment-in">
                                    <div class="flexwrap">
                                        <div class="com-in-t">name</div>
                                        <div class="comment-btn-box">
                                            <button type="button" class="modify-btn"></button>
                                            <button type="button" class="del-btn"></button>
                                        </div>
                                    </div>
                                    <div class="com-con">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                    <div class="list-f">
                                        <span class="time">14:23</span>
                                        <button class="cmt-btn">comment</button>
                                    </div>
                                </div>
                            </div>
                            <div class="cmt-out-re">
                                <div class="comment-img" style="background-image: url(../assets/img/snowmen.jpg);"></div>
                                <div class="comment-in">
                                    <div class="flexwrap">
                                        <div class="com-in-t">name</div>
                                        <div class="comment-btn-box">
                                            <button type="button" class="modify-btn"></button>
                                            <button type="button" class="del-btn"></button>
                                        </div>
                                    </div>
                                    <div class="com-con">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                                    <div class="list-f">
                                        <span class="time">14:23</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        <div class="modal-wrap">
            <div class="modal-body">
                <button class="mod-close" onclick="modalclose();"></button>
                <p>Do you really want to remove this post?</p>
                <div class="btnbox clearfix">
                    <button type="button" class="cancelbtn" onclick="modalclose();">Cancel</button>
                    <button type="button" class="delbtn">Delete</button>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="foot-in">
                <a href="" class="back-f back-btn">Back</a>
                <a href="" class="like">Like</a>
                <a href="" class="share">Share</a>
            </div>
        </div>
    </div>
    <script>
        $('.foot-in a.like').click(function(e){
            e.preventDefault();
            $('.like').toggleClass('on');
        });
        $('.cmt-btn').click(function(){
            $(this).parent().parent().children('.cmt-modify').toggleClass('on');
            $('.cmt-modify input').focus();
        })
        $(document).on('click','.view-comment .del-btn', function () {
            $(this).parent().parent().parent().parent().remove();
        });
        $('.mod-close').click(function(){
            $(this).parent().removeClass('on');
        });
        $('.view-comment .modify-btn').on('click', function(){
            var reply = $(this).parent().parent().parent().children('.com-con');
            var replyT = reply.text();
            if(reply.css('display') == 'none'){
                reply.css('display', 'flex');
                reply.next('.re-modify').remove();
            }else{
                reply.css('display', 'none');
                reply.after('<div class="com-t re-modify"><textarea name="" id="" cols="30" rows="10">'+ replyT+'</textarea><button type="button" class="btn-grey">modify</button></div>');
            }
        });
        $(document).on('click', '.re-modify button', function(){
            var modiT = $(this).siblings('textarea').val();
            var reply = $(this).parent('.re-modify').prev('.com-con');
            reply.css('display', 'flex');
            reply.text(modiT);
            $(this).parent('.re-modify').remove();
        });
        function modalopen(){
            $('.modal-wrap').addClass('on');
        }
        function modalclose(){
            $('.modal-wrap').removeClass('on');
        }
    </script>
</body>
</html>