<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOR FOREIGN WORKERS!</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="../assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/common.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="wrap2">
        <div class="header">
            <div class="hd-in">
                <a href="../index.html" class="home"></a>
                <span class="title">Vietnamese friends, gather up!</span>
                <a href="" class="mypage"><span class="new-R"></span></a>
            </div>
        </div>
        <div class="board-wrap clearfix">
           <div class="notice-list">
               <div class="list-in clearfix">
                    <div class="list-t">
                        <div class=" clearfix">
                            <a href="">
                                <span class="ellipsis n-tag ">For Foreign workers this is an announcement Certainly read</span>
                            </a>
                        </div>
                        <div class="list-f">
                            <span class="name">name</span>
                            <span class="time">14:23</span>
                            <span class="new-i">N</span>
                            <span class="view">121,103</span>
                        </div>
                    </div>
                    <div class="cmt">
                        <span>999</span>
                    </div>
               </div>
           </div>
           <div class="board-list-re">
                <div class="list-in clearfix">
                    <div class="re-i"></div>
                    <div class="board-img" style="background-image: url(../assets/img/Sweet.png);"></div>
                    <div class="list-t">
                        <div class=" clearfix">
                            <a href="">
                                <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</span>
                            </a>
                        </div>
                        <div class="list-f">
                            <span class="name">namenamename</span>
                            <span class="time">14:23</span>
                            <span class="new-i">N</span>
                            <span class="view">121</span>
                        </div>
                    </div>
                    <div class="cmt">
                        <span>1</span>
                    </div>
                </div>
           </div>
           <div class="board-list">
                <div class="list-in clearfix">
                    <div class="board-img" style="background-image: url(../assets/img/Sweet.png);"></div>
                    <div class="list-t">
                        <div class=" clearfix">
                            <a href="" class="ellipsis ">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</a>
                        </div>
                        <div class="list-f">
                            <span class="name">name</span>
                            <span class="time">14:23</span>
                            <span class="view">121,103</span>
                        </div>
                    </div>
                    <div class="cmt">
                        <span>1</span>
                    </div>
                </div>
            </div>
            <div class="board-list">
                <div class="list-in clearfix">
                    <div class="list-t">
                        <div class=" clearfix">
                            <a href="" class="ellipsis ">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</a>
                        </div>
                        <div class="list-f">
                            <span class="name">name</span>
                            <span class="time">14:23</span>
                            <span class="view">121,103</span>
                        </div>
                    </div>
                    <div class="cmt">
                        <span>1</span>
                    </div>
                </div>
            </div>
            <div class="board-list-re">
                <div class="list-in clearfix">
                    <div class="re-i"></div>
                    <div class="list-t">
                        <div class=" clearfix">
                            <a href="">
                                <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</span>
                            </a>
                        </div>
                        <div class="list-f">
                            <span class="name">namenamename</span>
                            <span class="time">14:23</span>
                            <span class="view">121,103</span>
                        </div>
                    </div>
                    <div class="cmt">
                        <span>24</span>
                    </div>
                </div>
            </div>
            <div class="board-list-re">
                <div class="list-in clearfix">
                    <div class="re-i"></div>
                    <div class="list-t">
                        <div class=" clearfix">
                            <a href="">
                                <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</span>
                            </a>
                        </div>
                        <div class="list-f">
                            <span class="name">namenamename</span>
                            <span class="time">14:23</span>
                            <span class="view">121,103</span>
                        </div>
                    </div>
                    <div class="cmt">
                        <span>24</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="foot-in">
                <a href="" class="search">Search</a>
                <a href="" class="writing">Writing</a>
                <a href="" class="invite">Invite</a>
            </div>
        </div>
    </div>
</body>
</html>