<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">

<th:block layout:fragment="layout-content">
    <div class="wrap2">
        <div class="header white">
            <div class="hd-in">
               <a href="/board/list" class="back back-btn"></a>
                <p class="subtitle">SEARCH</p>
            </div>
        </div>
        <div class="board-wrap clearfix">
            <div class="srh-box">
                <input type="text" class="srhinput" name="search">
                <button type="button" class="clear" onclick="inputclear();"></button>
                <button type="button" class="srhbtn" onclick="goSearch()"></button>
            </div>
            <div class="resultwrap">
                <div class="resultinner">
                    <span class="resultnum">0</span> results
                </div>
                <div class="noresult">
                    <span>No results</span><br>
                    There were no results. Try a new search.
                </div>
                <div class="board-list" id="boardList">

                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var loginVO = /*[[${session.loginVO}]]*/ '';
        /*]]>*/

        /* 0. variable */
        let page = 0;
        let search = '';
        let isLast = true;

        /* 1. on load */
        $(function(){
            init();

            /* 2. event listener*/
            $(window).scroll(function() {
                if (!isLast && (isBottom())) {
                    getList()
                }
            });
        })

        /* 3.init*/
        function init(){

        }

        /* 4. function */
        function inputclear(){
            $('.srhinput').val('');
        }

        function goSearch(){
            search = $("input[name=search]").val();
            page = 0;
            isLast = false;
            $("#boardList").empty();
            getList();
        }

        function getList(){
            $.post('/api/getPage',{page, search},function(res){
                page++;
                let cnt = res.data.totalElements;
                if(cnt == 0){
                    $(".noresult").show();
                }else{
                    $(".noresult").hide();
                }

                isLast = res.data.last;
                $('.resultnum').text(cnt);
                var list = res.data.content;
                list.forEach(function(el){
                   var html =
                   `
                   <div class="list-in clearfix">
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="/board/view?seq=${el.seq}">
                                    <span class="ellipsis">${el.subject}</span>
                                </a>
                            </div>
                            <div class="list-f">
                                <span class="name ${el.user.id ? 'color-blue' : ''}">${el.user.nickname}</span>
                                <span class="time">${new Date(el.createdAt).format('yyyy-MM-dd &nbsp;THH:mm:ss')}</span>
                                ${loginVO != null && loginVO.admin ? '<span class="view" >'+el.views+'</span>' : ''}
                            </div>
                        </div>
                        <div class="cmt">
                            <span>${el.likeCount}</span>
                        </div>
                    </div>
                   `;
                    $("#boardList").append(html);
                });
            });
        }
    </script>
</th:block>