<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">

<th:block layout:fragment="layout-content">
    <div class="wrap2">
        <div class="header white">
            <div class="hd-in">
               <a href="" class="back back-btn"></a>
                <p class="subtitle">SEARCH</p>
            </div>
        </div>
        <div class="board-wrap clearfix">
            <div class="srh-box">
                <input type="text" class="srhinput">
                <button type="button" class="clear" onclick="inputclear();"></button>
                <button type="button" class="srhbtn"></button>
            </div>
            <div class="resultwrap">
                <div class="resultinner">
                    <span class="resultnum">9,999</span> results
                </div>
                <div class="noresult">
                    <span>No results</span><br>
                    There were no results. Try a new search.
                </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="board-img" style="background-image: url(../assets/img/Sweet.png);"></div>
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="">
                                    <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</span>
                                </a>
                            </div>
                            <div class="list-f">
                                <span class="name">namenamename</span>
                                <span class="time">14:23</span>
                                <span class="new-i">N</span>
                                <span class="view">121</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>1</span>
                        </div>
                    </div>
               </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="board-img" style="background-image: url(../assets/img/Sweet.png);"></div>
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="" class="ellipsis"><span class="srh-hlight">Hello</span>, nice to meet you. It's my first time signing up here.Do I write the question here?</a>
                            </div>
                            <div class="list-f">
                                <span class="name">name</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>1</span>
                        </div>
                    </div>
                </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="" class="ellipsis ">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</a>
                            </div>
                            <div class="list-f">
                                <span class="name">name</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>1</span>
                        </div>
                    </div>
                </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="">
                                    <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question <span class="srh-hlight">here?</span></span>
                                </a>
                            </div>
                            <div class="list-f">
                                <span class="name">namenamename</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>24</span>
                        </div>
                    </div>
               </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="">
                                    <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</span>
                                </a>
                            </div>
                            <div class="list-f">
                                <span class="name">namenamename</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>24</span>
                        </div>
                    </div>
                </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="board-img" style="background-image: url(../assets/img/Sweet.png);"></div>
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="">
                                    <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</span>
                                </a>
                            </div>
                            <div class="list-f">
                                <span class="name">namenamename</span>
                                <span class="time">14:23</span>
                                <span class="new-i">N</span>
                                <span class="view">121</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>1</span>
                        </div>
                    </div>
               </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="board-img" style="background-image: url(../assets/img/Sweet.png);"></div>
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="" class="ellipsis"><span class="srh-hlight">Hello</span>, nice to meet you. It's my first time signing up here.Do I write the question here?</a>
                            </div>
                            <div class="list-f">
                                <span class="name">name</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>1</span>
                        </div>
                    </div>
                </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="" class="ellipsis ">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</a>
                            </div>
                            <div class="list-f">
                                <span class="name">name</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>1</span>
                        </div>
                    </div>
                </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="">
                                    <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question <span class="srh-hlight">here?</span></span>
                                </a>
                            </div>
                            <div class="list-f">
                                <span class="name">namenamename</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>24</span>
                        </div>
                    </div>
               </div>
                <div class="board-list">
                    <div class="list-in clearfix">
                        <div class="list-t">
                            <div class=" clearfix">
                                <a href="">
                                    <span class="ellipsis">Hello, nice to meet you. It's my first time signing up here.Do I write the question here?</span>
                                </a>
                            </div>
                            <div class="list-f">
                                <span class="name">namenamename</span>
                                <span class="time">14:23</span>
                                <span class="view">121,103</span>
                            </div>
                        </div>
                        <div class="cmt">
                            <span>24</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function inputclear(){
            $('.srhinput').val('');
        }
    </script>
</th:block>