
<!doctype html>

<!--공통 영역을 의미-->

<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:layout="layout-head">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-227172911-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-227172911-1');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOR FOREIGN WORKERS!</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="/assets/css/reset.css" rel="stylesheet">
    <link href="/assets/css/common.css" rel="stylesheet">
</head>

<body>
    <script src="/assets/js/common.js"></script>
    <script src="/assets/js/customUtil.js"></script>
    <script src="/assets/js/prototype-array.js"></script>
    <script src="/assets/js/prototype-date.js"></script>
    <script src="/assets/js/prototype-number.js"></script>
    <script src="/assets/js/prototype-string.js"></script>

    <!--공통 로딩-->
    <div class="loading">
        <div class="loading-inner dot">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p>Loading</p>
        </div>
    </div>

    <!-- 컨텐츠 영역 -->
    <th:block layout:fragment="layout-content"></th:block>

    <div class="modal-wrap" id="modal-custom-alert">
        <div class="modal-body">
            <button class="mod-close" onclick="modal.close('#modal-custom-alert');"></button>
            <p></p>
            <div class="btnbox clearfix">
                <button type="button" style="width: 100% !important;" class="cancelbtn" onclick="modal.close('#modal-custom-alert');">Cancel</button>
            </div>
        </div>
    </div>

    <div class="modal-wrap" id="modal-custom-confirm">
        <div class="modal-body">
            <button class="mod-close" onclick="modal.close('#modal-custom-confirm');"></button>
            <p></p>
            <div class="btnbox clearfix">
                <button type="button" class="cancelbtn" onclick="modal.close('#modal-custom-confirm');">Cancel</button>
                <button type="button" class="delbtn" id="modalConfirmBtn"></button>
            </div>
        </div>
    </div>
</body>
</html>