<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">

<th:block layout:fragment="layout-content">
    <div class="wrap">
        <div class="main-header">
            <h1 class="main-tit">FOR FOREIGN WORKERS!</h1>
        </div>
        <div class="main-wrap clearfix wrap-padding">
            <ul class="main-ul">
                <li><a href="/boardList" class="cam">កម្ពុជា</a></li>
                <li><a href="/boardList" class="vie">Việt Nam</a></li>
                <li><a href="/boardList" class="nep">नेपाल</a></li>
                <li><a href="/boardList" class="ina">Indonesia</a></li>
                <li><a href="/boardList" class="tha">ประเทศไทย</a></li>
                <li><a href="/boardList" class="mya">မြန်မာ</a></li>
                <li><a href="/boardList" class="phi">Pilipinas</a></li>
                <li><a href="/boardList" class="eng">English</a></li>
            </ul>
        </div>
        <div class="main-footer">
            <div class="mainfoot-in">
                <a href="" class="request">Request or Report</a>
                <a href="">about us (-_-v)</a>
                <a href="" class="add-i"></a>
            </div>
        </div>
    </div>
</th:block>