<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="fragments/layout">

<th:block layout:fragment="layout-content">
    <div class="wrap">
        <div class="main-header">
            <h1 class="main-tit">FOR FOREIGN WORKERS!</h1>
        </div>
        <div class="main-wrap clearfix wrap-padding">
            <ul class="main-ul">
                <li><a href="#" data-value="0" data-name="កម្ពុជា" class="cam nation">កម្ពុជា</a></li>
                <li><a href="#" data-value="1" data-name="Việt Nam" class="vie nation">Việt Nam</a></li>
                <li><a href="#" data-value="2" data-name="नेपाल" class="nep nation">नेपाल</a></li>
                <li><a href="#" data-value="3" data-name="Indonesia" class="ina nation">Indonesia</a></li>
                <li><a href="#" data-value="4" data-name="ประเทศไทย" class="tha nation">ประเทศไทย</a></li>
                <li><a href="#" data-value="5" data-name="မြန်မာ" class="mya nation">မြန်မာ</a></li>
                <li><a href="#" data-value="6" data-name="Pilipinas" class="phi nation">Pilipinas</a></li>
                <li><a href="#" data-value="7" data-name="English" class="eng nation">English</a></li>
                <!--<li class="li-add"><a href="" class="add-i"></a></li>-->
                <!--value의 값을 가지고 오기 위해 번호로 value 값을 넣어줌-->
            </ul>
        </div>
        <div class="main-footer">
            <div class="mainfoot-in">
                <a href="" class="request">Request or Report</a>
                <a href="">about us (-_-v)</a>
            </div>
        </div>
    </div>
    <script>
        /* 0. variable */

        /* 1. on load */
        $(function(){
            /* 2.init*/
            //시작 하자 초기설정 하는거.

            /* 3. event listener*/
            $(".nation").click(function(){//국가별로 클릭했을때
                let nationNum=$(this).data('value'); //ajax로 세션에 값을 담아줌.
                let nationName=$(this).data('name');
                $.post('/api/setNation',{nation: nationNum, nationName:nationName},function() {
                    location.href="/board/list";
                });

                //console.log(nation);



                //1.클릭이벤트->2. 로그인하는거
            });

        });
    </script>
</th:block>
